<form id="formulario">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">Name</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Last name</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefaultUsername">Correo Electrónico</label>
      <input type="email" class="form-control" id="validationDefault06" placeholder="name@example.com" required>
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="product">Choose a Product:</label>
    <select  class="browser-default custom-select"  name="product" id="product" required>
      <option value="">Choose...</option>
      <option value="voucher">Voucher</option>
      <option value="interaction">Video Interaction</option>
    </select> 
  </div>
  <div class="form-group">
    <label for="validationDefault04">Comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
  